
*{
    margin: 0px;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/12/14/38/scrapbook-1588782_960_720.jpg);
    background-size: cover;
    
    
   
    
}
#header {
    width: 500;
    font-family: Arial;
    width: 100%;
    font-size: 20px;
   
    
}

.logo img {
   border-radius: 100%;
   width:200px;
   border: 4px solid  palevioletred;
   box-shadow: 4px 8px 15px  rgb(141, 87, 87);
}

ul {
    list-style: none;
}

.menus {
    margin: 0;
    
    
}

.menus li a {
    
    color: rgb(121, 33, 33);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(219, 103, 147);
    
    
    
  
}

.menus > li {
    float: left;
    position: relative;
    
}

.menus li a:hover {
    background-color: rgb(199, 128, 158);
}

.menus li ul {
    display: none;
    position: absolute;
    min-width: 150px;
   
}
.menus li:hover > ul {
    display: block;
}


.menus li img {
    display: block;
    margin: auto;
    
}

.portada img {
    display: block;
    margin: auto;
    width: 100%;
    height: 450px;
}

.categoria {
    padding: 100px;
}

.categoria li {
    width: 100%;
    
}

.categoria img {
  max-width: 100%;
  height: 100%;
margin-top: 50px;
text-decoration: none;
list-style-type: none;
width: 350px;
margin-left: 10%;

  
}

.categoria .baner1 {

    margin: auto;
    display: inline;
    margin: 10px;
    max-width: 500px;
    
    
    
}

footer {
    background: black;
    width: 100%;
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    color: white;
    height: 100%;
    
    
}


footer .whatsapp {
    font-size: 25px;
    color: green;
}

footer i {
    display: inline-flex
}



