
*{
    margin: 0px;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/12/14/38/scrapbook-1588782_960_720.jpg);
    background-size: cover;
   
    
}
#header {
    width: 500;
    font-family: Arial;
    width: 100%;
    font-size: 20px;
   
    
}
.logo img {
    border-radius: 100%;
    width:200px;
    border: 4px solid  palevioletred;
    box-shadow: 4px 8px 15px  rgb(141, 87, 87);
 }
 

ul {
    list-style: none;
}

.menus {
    margin: 0;
    
    
}

.menus li a {
    
    color: rgb(177, 71, 71);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    width: 100%;
    text-align: center;
    
    
    
  
}

.menus > li {
    float: left;
    position: relative;
    
}

.menus li a:hover {
    background-color: rgb(204, 166, 172);
}

.menus li ul {
    display: none;
    position: absolute;
    min-width: 150px;
   
}
.menus li:hover > ul {
    display: block;
}


.menus li img {
    display: block;
    margin: auto;
    
}
.portada img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

section h1 {
    top: 100px;
    position:relative;
    width:100%;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 1px 2px 4px palevioletred;
    color: rgb(177, 71, 71);
    
}



.galery-vestido {
    margin-top:150px;
    max-width: 1000px;
    margin:100px;
    position:relative;
}

.galery-vestido img {
    width:250px;
    height:100%;
    float:left;
    margin:10px;
    position:relative;
    left: 20%;


    
}
footer {
    background: black;
    width: 100%;
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    color: white;
    height: 50px;
    position: relative;
    top: 100px;
    
    
    
}


footer .whatsapp {
    font-size: 25px;
    color: green;
}

footer i {
    display: inline-flex
}







.container {
    margin: 100px auto;
    width: 100%;
    justify-content: center;
    transform: perspective(600px);
    
    
    
    
}

.contenedor_tarjeta {
    margin: 10px;
    perspective: 700;
    width: 100%;
    margin-left: 50px;
    float: left;
    padding-bottom: 50px;
    
   
    
    

}

.frontal {
    width: 100%;
   
 
}



.figure {
    top: 150px;
    width: 300px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 0 10px 25px rgb(7, 0, 0);
    transition: 2s ease;
    background: rgb(255, 255, 255);
    
    
}

.frontal, .detras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;

}

.contenedor_tarjeta:hover .figure {
    transform: rotateY(180deg);
}

.detras {
    transform: rotateY(180deg);
    background-image: url(imagen/logo.png);
    
    
}