
*{
    margin: 0px;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(https://image.freepik.com/vector-gratis/fondo-tamano-pantalla-pagina-web-abstracta-gradiente-crepuscular_70155-243.jpg);
    background-size: cover;
   
    
}
#header {
    width: 500;
    font-family: Arial;
    width: 100%;
    font-size: 20px;
   
    
}

ul {
    list-style: none;
}

.menus {
    margin: 0;
    
    
}

.menus li a {
    
    color: rgb(177, 71, 71);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    width: 100%;
    text-align: center;
    
    
    
  
}

.menus > li {
    float: left;
    position: relative;
    
}

.menus li a:hover {
    background-color: rgb(204, 166, 172);
}

.menus li ul {
    display: none;
    position: absolute;
    min-width: 150px;
   
}
.menus li:hover > ul {
    display: block;
}


.menus li img {
    display: block;
    margin: auto;
    
}

.portada img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.categoria {
    padding: 100px;
}

.categoria li {
    width: 100%;
    
}

.categoria img {
  max-width: 100%;
  height: 100%;
margin-top: 50px;
text-decoration: none;
list-style-type: none;
width: 350px;
margin-left: 10%;

  
}

.categoria .baner1 {

    margin: auto;
    display: inline;
    margin: 10px;
    max-width: 500px;
    
    
    
}

footer {
    background: black;
    width: 100%;
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    color: white;
    height: 100%;
    
    
}


footer .whatsapp {
    font-size: 25px;
    color: green;
}

footer i {
    display: inline-flex
}



